<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Classroom Management Software - Login</title>
    <link rel="stylesheet" href="style21.css">
</head>
<body>
    <div class="container">
        <h1 class="white-font">Studentsync</h1>
        <h2 class="white-font">Login</h2>
        <form id="login-form">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Name">
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Password">
            <br><br>
            <label for="Roll No">Roll No:</label>
            <input type="text" id="Roll No" placeholder="Roll No">
            
            <br><br>
            <button class="white-font" type="submit">
                <a href="main21.html">Login</a>
            </button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/socket.io@2.3.0/dist/socket.io.js"></script>
    <script>
        document.getElementById('login-form').addEventListener('submit', event => {
            event.preventDefault();
            const enrollmentNo = document.getElementById('enrollment-no').value;
            const password = document.getElementById('password').value;
            const name = document.getElementById('name').value;

            fetch('/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ enrollment_no: enrollmentNo, password, name })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = 'main.html'; 
                } else {
                    alert('Invalid login credentials');
                }
            });
        });
    </script>
</body>
</html>
